@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

@import "./variables";
@import "./resets";

@mixin mobile {
  @media (max-width: 600px) {
    @content;
  }
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 1em;
}

.section-page {
  padding-top: 1em;
  padding-bottom: 1em;
}

.wrapper-hero {
  display: flex;
  align-items: center;
  gap: 4em;

  @include mobile {
    display: flex;
    align-items: center;
    gap: 1em;
    flex-direction: column;
  }

  &__pic {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;

    @include mobile {
      width: 200px;
      height: 200px;
    }
  }

  &__username {
    font-size: 48px;
    line-height: 1em;
  }

  &__email {
    color: $mainTextColor;
  }
}

.socials-list {
  display: flex;
  justify-content: space-between;
  column-gap: 1em;
  flex-wrap: wrap;

  &__item {
    font-weight: 300;
    color: $secondaryTextColor;
    font-size: 0.9em;
    transition: 0.3s;

    &:hover {
      font-weight: 100;
      color: $mainLinkColor;
      font-size: 0.9em;
    }
  }
}

.qualifications-list {
  list-style: none;
}

.wrapper-techstack {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  font-size: 0.9em;

  &__item {
    border: 1px solid $mainBorderColor;
    border-radius: 5px;
    padding: 0.5em 1em;
    align-items: center;
  }
}

.card-project {
  padding-top: 1em;
  padding-bottom: 1em;
  border-top: 1px solid $mainBorderColor;

  &__item {
    color: $mainTextColor;

    transition: 0.3s;

    &:hover {
      color: rgb(30, 190, 214);
    }
  }
}

.card-work-history {
  border-left: 1px solid $mainBorderColor;
  margin-top: 3em;
  margin-bottom: 3em;
  padding-left: 2em;

  @include mobile {
    border-left: none;
    padding-left: 0;
  }
}

.line-break {
  background-color: $mainBorderColor;
  height: 1px;
}
